h1{
  color: green;
  border: 2px solid red;
  background-color: #caff33;
  line-height: 7;
  font-style: oblique;
  font-family: inherit;
}
.abtme{
  color: red;
  font-size: 18px;
}
p {
  color: grey;

  font-family: monospace;
  font-style: normal;
  scroll-behavior: smooth;
}
ul{
  color: black
}
